body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

a:link {
    color: #E5E7EB;
    text-decoration: none;
}

a:visited {
    color: #E5E7EB;
    text-decoration: none;
}



ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

.navbar{
    background-color: #1F2937;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 525px;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 150px;
}

.headerimg {
    height: 250px;
    width: 450px;
    margin-left: 60px;

}

.header-container {
    display: flex;
    align-items: center;
    width: 1000px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.headersubtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 15px;
    margin-bottom: 15px;
}

.headerbutton {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 28px;
    font-size: 18px;
    font-weight: 900;
    border-radius: 10px;
    outline: none;
    border-style: 0;

}

.informationsheader {
    background-color: white;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 80px;

}

.info-title {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 70px;
}

.infoboxes {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.infobox {
    width: 150px;
}

.infotext {
    text-align: center;
    margin-top: 20px;
}

img {
    width: 150px;
    height: 150px;
    border: solid;
    border-radius: 15px;
    border-color: #3882F6;

}

.quoteheader {
    background-color: #E5E7EB;
}

.quote-container {
    display: flex;
    justify-content: center;
    padding: 120px;
    flex-direction: column;
    align-items: center;
}

.quotesmain {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 800px;
}

.quotesource {
    font-weight: 900;
    font-size: 22px;
    margin-left: 600px;
}

.adheader {
    background-color: #F9FAF8;
    padding: 180px;
    display: flex;
    justify-content: center;
}

.ad-container {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    box-sizing: border-box;
    width: 1200px;
    height: 150px;
    padding: 30px;
    gap: 50px;
    align-items: center;
    border-radius: 15px;
}

.adleft {
    margin-left: 80px;
}

.adlefttitle {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 22px;
    margin: 0;
}

.adleftsubtext {
    color: #F9FAF8;
    margin: 0;
    
}

.adbutton {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 28px;
    font-size: 18px;
    font-weight: 900;
    border-radius: 10px;
    outline: none;
    border-style: 0;
    border-color: #F9FAF8;
    margin-right: 80px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 18px;

}